
.board {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(26, 5, 5);
    width: 50vw;
    border: 1vh solid black;
    border-radius: 2vw;
    padding: 1vw;
}

.keys {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: grey;
    position: relative;
}

.whiteKey {
    background-color: rgb(237, 242, 246);
    padding: 6vh;
    border-radius: 0.5vh;
    border: 1px solid black;
}

.whiteKey:active{
    background-color: rgb(198, 201, 203);
    transition: 0.3s;
}

.blackKey:active{
    background-color: rgb(31, 31, 31);
    transition: 0.3s;
}

.blackKey {
    background-color: rgb(45, 45, 45);
    padding: 2%;
    border-radius: 0.5vh;
    margin-bottom: 5%;
    margin-right: -3%;
    margin-left: -3%;

    z-index: 2;
}

#w{
    margin-left: -3%;
    width: 1.5%;
}

#vol{
    width: 20%;
}