
.body{
    background-color: rgb(199, 160, 109);
}


.board{
    display: flex;
    background-color: black;
    width: 50vw;
    border: 1vh solid black;
    border-radius: 1vw;

    justify-content: center;
}
